################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.DotSettings.user
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/trysome
/.vs/trysome.odata
**/bin
**/obj

/packages
