################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.DotSettings.user
*.csproj.user

.vs
/packages
**/bin
**/obj
/ClashOfLogs/db/CoL.mdf
/ClashOfLogs/db/CoL.ldf
/ClashOfLogs/db
/CoC_data/CoL.mdf
/CoC_data/CoL.ldf
