################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.DotSettings.user
*.csproj.user

/.vs
/packages
**/bin
**/obj
