.month-line {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-left: gray 1px solid;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: gray 1px solid;
    border-bottom: gray.1px solid;
    border-right: gray 1px solid;
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

.day-we { background-color: gray }

.day-ph { background-color: lightgray }


.day-va {
    background-color: #eebbbb;
}