.dog-breed-button {
    background: #ff8c8c;
    color: #ffe3a9;
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-transform: capitalize;
  }

  .dog-breed-button-selected {
    color: #ff8c8c;
    background: #ffe3a9;
  }